*.log
.idea/

volumes/var/
volumes/log/

static/images/comment/*.png
static/images/comment/*.jpeg
static/images/comment/*.jpg

static/images/portfolio/*.png
static/images/portfolio/*.jpeg
static/images/portfolio/*.jpg

static/images/type_repair/*.png
static/images/type_repair/*.jpeg
static/images/type_repair/*.jpg

static/images/service/*.png
static/images/service/*.jpeg
static/images/service/*.jpg