{{ define "cabinet_portfolio.html" }}
{{ template "cabinet_header.html" }}

<head>
    <title>Портфолио</title>
</head>


<article class="Center">
    <h1>Портфолио</h1>
    <div class="Form-Orders">
        <div class="Form-Order">
            <div class="Title-Block"><p>Добавить</p></div>
            <form class="Form-Order-input" enctype="multipart/form-data"  action="/admin/cabinet/portfolio/add" method="POST">
                <input type="file" name="Files" accept="image/jpeg, image/png" multiple required>
                <label class="Document">Размер изображения конвертируется в <strong>700x500px</strong></label>
                <input type="submit" value="Добавить фото">
                <input type="reset" value="Очистить">
            </form>
        </div>
        <div class="Form-Order">
            <div class="Title-Block"><p>Список</p></div>
            <div class="Portfolios">
                {{ range .Data }}
                    <div class="Portfolio">
                        <img src="/img/portfolio/{{ . }}">
                        <form class="Form-Order-input" action="/admin/cabinet/portfolio/delete" method="POST">
                            <input type="hidden" name="Delete" value="{{ . }}" required>
                            <input type="submit" value="Удалить" onclick="return Question('Удалить ?')">
                        </form>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</article>


{{ template "cabinet_footer.html" }}
{{ end }}